:root {
    --cell-size: 120px;
    --cell-gutter: 30px; /* Gutter → Indica lo spazio tra gli elementi (.cell). */
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    height: calc(var(--cell-size) * 3 + var(--cell-gutter) * 2);
    width: calc(var(--cell-size) * 3 + var(--cell-gutter) * 2);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: white;
    
    cursor: pointer;
    
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: contain;
    background-position: center center;
}

.bug {
    background-image: url('./img/bug.png');
}

.bug-splattered {
    background-image: url('./img/bug-splattered.png');
}

.game-alert > .message {
    width: calc(var(--cell-size) * 3 + var(--cell-gutter) * 2);
    height: var(--cell-size);
}
